html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2929;
  font-size: 100px;
}

main {
  height: 400px;
  width: 730px;
  margin-top: -60px;
  box-shadow: 0 0 30px #80d1f9;
  position: relative;
}

.game {
  height: 100%;
  background: #71c6ea;
  border-bottom: solid 110px #4ba04b;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

#belcha {
  width: 120px;
  transform: scaleX(-1);
  position: absolute;
  left: 130px;
  bottom: 0;
  transition: bottom 100ms linear;
}

#snail {
  width: 60px;
  position: absolute;
  left: 100%;
  bottom: -5px;
  animation: crawl 3s infinite;
  transform-origin: center bottom;
}

#chestnut {
  width: 40px;
  position: absolute;
  left: 100%;
  top: 85px;
  animation: rotate 50s infinite;
}

@keyframes run {
  0% {
    transform: translateY(0) scaleX(-1);
  } 
  80% {
    transform: translateY(-5px) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

@keyframes crawl {
  0% {
    transform: scaleY(0.8);
  } 
  50% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(0.8);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  } 
  100% {
    transform: rotate(360deg);
  }
}

.runningBelcha {
  animation: run 1s infinite;
}

.happyBelcha {
  /*animation: rock 3s infinite;*/
}

@keyframes rock {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.forest {
  background-image: url("background.svg");
  background-repeat: repeat-x;
  background-position-x: 0;
  width: 100%;
  height: 100%;
}

.movingForest {
  animation: backgroundScroll 10s infinite linear;
}

@keyframes backgroundScroll {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.stats {
  position:absolute;
  font-size: 20px;
  background: pink;
  padding: 10px 20px;
  font-family: "Comic Sans MS";
  margin-top: -160px;
  box-shadow: 10px 10px 0 rgb(32 30 30 / 38%);
  border-radius: 20px;
  bottom: 20px;
  right: 20px;
}

.statsCounter::before {
  height: 1em;
  width: 1em;
  content: "";
  display: inline-block;
  background-image: url("chestnut_1f330.png");
  background-size: 100% 100%;
  margin-right: 0.5em;
  vertical-align: middle;
  margin-top: -4px;
}

.statsTimer::before {
  height: 1.5em;
  width: 1.5em;
  content: "";
  display: inline-block;
  background-image: url(stopwatch_23f1-fe0f.png);
  background-size: 100% 100%;
  margin-right: 0.25em;
  vertical-align: middle;
  margin-top: -4px;
  margin-left: -0.25em;
}